extends ./common/common.pug
block common_title
	title #{title || '渡鸦( ´･ω･)ﾉ(._.`)-优雅的学习'}
block links
	+_link('css/story')
block doms
	#root !{ html }
block scripts
	script.
		window.__PROPS__ = !{ __PROPS__ };
	+_script('js/story')
