.flex-text-wrap {
    position: relative;
    min-height: 1em;
    text-align: inherit;
    &,
    textarea {
        outline: 0;
        margin: 0;
        border: none;
        padding: 0;
        background: #fff;
        color: #000;
    }
    &.show-border {
        // 和input保持一致
        min-height: 28px;
        textarea,
        pre {
            padding: 0 7px;
            border-radius: 4px;
            border: 1px solid #a9a9a9;
            &:focus {
                border-color: #000;
            }
        }
        textarea[disabled] {
            background-color: #f7f7f7;
            cursor: not-allowed;
            color: rgba(0, 0, 0, .25);
        }
        .text-mask {
            cursor: not-allowed;
        }
    }
    .text-mask {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    textarea,
    pre {
        white-space: pre-wrap;
        width: 100%;
        box-sizing: border-box;
        font-size: inherit;
        text-align: inherit;
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
    }
    textarea {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        resize: none;
    }
    pre {
        display: block;
        visibility: hidden;
        word-wrap: break-word;
    }
}
.text-input-disabled {
    textarea {
        color: #999;
    }
}
