/node_modules
*.DS_Store
.vscode*
npm-debug.log.*
dump.rdb
/assets
versionFile.json
errorLog.log
logs/
resources/images/
package-lock.json


.DS_Store
*.[56789ao]
*.a[56789o]
*.so
*.pyc
._*
.nfs.*
[56789a].out
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go

go/VERSION.cache
go/bin/
go/build.out
go/doc/articles/wiki/*.bin
go/goinstall.log
go/last-change
go/misc/cgo/life/run.out
go/misc/cgo/stdio/run.out
go/misc/cgo/testso/main
go/pkg/
go/src/*.*/
go/src/cmd/cgo/zdefaultcc.go
go/src/cmd/dist/dist
go/src/cmd/go/internal/cfg/zdefaultcc.go
go/src/cmd/go/internal/cfg/zosarch.go
go/src/cmd/internal/objabi/zbootstrap.go
go/src/go/build/zcgo.go
go/src/go/doc/headscan
go/src/runtime/internal/sys/zversion.go
go/src/unicode/maketables
go/test.out
go/test/garbage/*.out
go/test/pass.out
go/test/run.out
go/test/times.out